  body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
  }

  *{
    margin: 0;
    box-sizing: border-box;
  }

  button{
    color: white;
    background-color: #3882f6;
    width: 75px;
    border-radius: 8px;
  }

  div{
    display: flex;
    border: 1px solid white;
    background-color: #1f2937;
    box-sizing: border-box;
  }

  .one{
    padding: 0 0 0 150px;
    height: 200px;
    width: 100%;
    font-size: 24px;
    color: #f9faf8;
  }

  .two{
    height: 200px;
    width: 100%;
    font-size: 18px;
    padding: 0 50px;
    color: #e5e7eb;
    justify-content: space-between;
  }

  .three{
    box-sizing: border-box;
    padding: 0 0 0 150px;
    height: 400px;
    width: 50%;
    flex-direction: column;
  }

  .four{
    height: 400px;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
  }

  .three, h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }

  .three, p{
    font-size: 18px;
    color: #e5e7eb;
  }

  


  


