  body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
  }

  *{
    margin: 0;
    box-sizing: border-box;
  }

  button{
    color: white;
    background-color: #3882f6;
    width: 75px;
    border-radius: 8px;
  }

  div{
    display: flex;
    box-sizing: content-box;
  }

  .one{
    padding: 0 0 0 150px;
    height: 100px;
    width: 100%;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937
  }

  .two{
    height: 100px;
    width: 100%;
    font-size: 18px;
    padding: 0 50px;
    color: #e5e7eb;
    justify-content: space-between;
    background-color: #1f2937;
  }

  .three{
    box-sizing: border-box;
    padding: 0 0 0 150px;
    height: 300px;
    width: 50%;
    flex-direction: column;
    background-color: #1f2937;
    align-items: flex-start;
    justify-content: center;
  }

  .four{
    height: 300px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
  }

  .box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 400px;
    background-color: grey;
  }

  .box p{
    color: white;
  }

  .three, h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }

  p{
    font-size: 18px;
    color: #e5e7eb;
  }

  .info{
    display: block;
  }

  .five{
    padding-top: 50px;
    height: 50px;
    width: 100%;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
  }
  .square{
    height: 200px;
    width: 240px;
  }

  .six{
    justify-content: center;
    height: 200px;
    width: 100%;
  }

  .seven{
    display: flex;
    padding: 5px 0;
    width: 100%;
    height: 200px;
  }

  .seven div{
    margin: 25px;
    height: 100px;
    flex: 1;
  }

  .nine{
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    height: 190px;
    width: 100%;
    background-color: #e5e7eb;
  }

  .nine p{
    color: #1f2937;
    font-size: 36px;
    padding: 0 200px;
    font-style: italic;
    font-weight: 100;
  }

  .ten{
    background-color: #e5e7eb;
    justify-content: center;
    height: 50px;
    width: 100%;
  }

  .ten p{
    color: black;
  }

  .eleven{
    height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .twelve{
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 600px;
    background-color: #3882f6;
    border-radius: 12px;
  }

  .twelve .sign{
    font-weight: 80;
  }

  .container{
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .thirteen{
    background-color: #1f2937;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }




  

  
  

  


  


