  body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
  }

  *{
    margin: 0;
    box-sizing: border-box;
  }

  button{
    color: white;
    background-color: #3882f6;
    width: 75px;
    border-radius: 8px;
  }

  div{
    display: flex;
    border: solid 1px white;
    box-sizing: content-box;
  }

  .one{
    padding: 0 0 0 150px;
    height: 200px;
    width: 100%;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937
  }

  .two{
    height: 200px;
    width: 100%;
    font-size: 18px;
    padding: 0 50px;
    color: #e5e7eb;
    justify-content: space-between;
    background-color: #1f2937
  }

  .three{
    box-sizing: border-box;
    padding: 0 0 0 150px;
    height: 400px;
    width: 50%;
    flex-direction: column;
    background-color: #1f2937
  }

  .four{
    height: 378px;
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    background-color: #1f2937
  }

  img{
    height: 300px;
  }

  .three, h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
  }

  p{
    font-size: 18px;
    color: #e5e7eb;
  }

  .info{
    display: block;
  }

  .five{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
  }
  .square{
    height: 200px;
    width: 240px;
  }

  .six{
    justify-content: center;
    border: 1px solid black;
    height: 200px;
    width: 100%;
  }

  .seven{
    display: flex;
    padding: 5px 0;
    width: 100%;
    border: 1px solid black;
    height: 200px;
  }

  .seven div{
    margin: 25px;
    border: solid 1px black;
    height: 100px;
    flex: 1;
  }

  .nine{
    align-items: center;
    justify-content: center;
    height: 190px;
    width: 100%;
  }

  .nine p{
    color: black;
    font-size: 36px;
    padding: 0 200px;
  }

  .ten{
    align-items: center;
    justify-content: center;
    height: 190px;
    width: 100%;
  }


  

  
  

  


  


